WF_12__Voice_RAG_Agent.json
{
  "name": "WF-12: Voice RAG Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3041f341-7881-4108-8f04-7e825eaa305b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -140
      ],
      "id": "c7ccca34-6e86-4403-b327-c8719d365d36",
      "name": "Webhook",
      "webhookId": "3041f341-7881-4108-8f04-7e825eaa305b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -220,
        -140
      ],
      "id": "da2dece7-0689-48ed-bd43-482c8807a85f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        80
      ],
      "id": "f5a87e2c-2d31-4182-8ab1-4fd4b3df2ff9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "projects",
        "description": "Retrieves information about our projects"
      },
      "id": "591e111a-7e05-4b20-ac73-7a6ad05d9210",
      "name": "projects",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        80,
        60
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "gdocs",
          "mode": "list",
          "cachedResultName": "gdocs"
        },
        "options": {
          "pineconeNamespace": "Projects"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -160,
        200
      ],
      "id": "cbea005c-0237-4aa5-a538-07e6956d61e0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9xfuA7pyA4stP3Er",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        400
      ],
      "id": "4717998d-5fde-498f-a4f3-e8796eba4bcb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        260
      ],
      "id": "807d8f1a-0a2e-451d-aa48-f8c93f9be61b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        -140
      ],
      "id": "0e7e9094-1d61-40cb-985c-a187e21dc8f4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## WF-12: Voice RAG Agent\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -260
      ],
      "typeVersion": 1,
      "id": "394d3585-a3b1-4131-b26c-0fc17d1359c0",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "projects": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "projects",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "projects",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5585d4b9-e2ad-4d48-8b0b-035166f6060a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32abcfe23a703a294bd580240a37e884f6782ba42aeff437bff7e0a3461ea3a4"
  },
  "id": "btNOB2JSczbbuNr4",
  "tags": []
}